    .bg-indigo-subtle {
        background-color: #e0e7ff;
    }

    .text-purple {
        color: #7c3aed;
    }

    .bg-purple-subtle {
        background-color: #f5f3ff;
    }

    .border-purple-subtle {
        border-color: #ddd6fe;
    }

    .border-purple-200 {
        border-color: #e9d5ff;
    }

    .text-purple-dark {
        color: #581c87;
    }

    .w-4 {
        width: 1rem;
    }

    .h-4 {
        height: 1rem;
    }